<h1><%= @title %></h1>

<%= render 'admin/events/basic_show', event: @season %>

<h3>Events</h3>
<% @season.events.reorder(:start_date).each do |event| %>
  <p><%= render 'event_label', event: event %></p>
<% end %>

<%= render '/shared/gallery', pictures: @season.pictures %>

<%= render 'shared/attachments_gallery', attachments: @season.all_attachments.accessible_by(current_ability) %>

<%= render 'shared/video_link_gallery', video_links: @season.video_links.accessible_by(current_ability) %>

<%= render '/shared/show_actions', object: @season %>

<%= render 'admin/events/questionnaires', event: @season %>
