<h1><%= @title %></h1>

<% @questionnaire_template.questions.each do |question| %>
  <%= render '/shared/question_template_show', question: question %>
<% end %>

<%= render 'shared/show_actions', object: @questionnaire_template %>
