<%= simple_nested_form_for [:admin, @mass_mail] do |f| %>
  <%= f.error_notification %>

  <%= f.input :draft, as: :hidden %>

  <div class="form-inputs">

    <%= f.input :subject %>

    <%= render "/shared/form/md_editor", f: f, field: :body, rows: 12, show_hint: true %>

    <%= f.input :send_date %>

  </div>

  <div class="form-actions">
    <% if @mass_mail.persisted? %>
      <%= submit_tag :Send, name: 'send', class: "btn btn-primary", 
                    data: { title: "Send Mass Mail",
                            confirm: """
                                    Are you sure you wish to continue? The mass mail will be send at the time specified.<br><br>
                                    Even if you have delayed sending this message, you will not be able to edit it (or remove it) once you confirm.
                                    """ 
                            } 
      %>
    <% end %>
    <%= render '/shared/form/form_actions', f: f, wrap_tags: false %>
  </div>
<% end %>