<%= simple_nested_form_for @editable_block, html: { multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: 'You should not change the name, unless the block is a page for about, resources, or get involved. If you still change it, the site will not be able to find the Editable Block and cannot show it where necessary.' %>

    <%= f.input :url, hint: 'The url is required to determine the location of the page for about, resources, and get involved.'%>

    <%= f.input :group,
                hint: "The section which the block should be displayed under in the admin site",
                input_html: {
                    data: {
                       provide: "typeahead",
                       source: Admin::EditableBlock.groups
                    },
                    autocomplete: "off",
                } 
    %>

    <%= f.input :ordering, hint: 'The ordering in the subpage layer. Unused in other situations. From low to high.'%>

    <%= render "/shared/form/md_editor", f: f, field: :content, rows: 12, show_hint: true %>

    <div class="well form-inline">
      <%= render 'shared/form/sections/attachments', f: f, include_header: false %>

      <br />

      <small>
        You will need to link to these resources in the page above. <br />
        Use <code>[the link text](/attachments/myattachmentname)</code><br />
        You can use <code>[img description](/attachments/myattachmentname/thumb)</code> to generate a thumbnail version of the image. You can also manually specify its size by appending, for example, <code>{:style="height: 120px;"}</code><br />
        For images, paste a ! in front of the image (e.g. <code>![img description](/attachments/myattachmentname/thumb)</code>) to display an inline version of the image.
      </small>
    </div>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>