<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>

    <% if can? :edit, Admin::Proposals::CallQuestionTemplate %>
      <th></th>
    <% end %>
  </tr>

  <% @call_question_templates.each do |template| %>
    <tr>
      <%= get_link template, :show, wrap_tag: 'td '%>

      <%= get_link template, :edit, wrap_tag: 'td'%>
    </tr>
  <% end %>
</table>

<%= get_link Admin::Proposals::CallQuestionTemplate, :new %>
<%= get_link Admin::Proposals::Call, :index, link_text: 'Back to Proposal Calls'%>