<h1><%= @title %></h1>

<hr />

<div class="row vertical-rule">
  <div class="span<%= @user.avatar.attached? ? '9' : '12' %>">
    <%= render_markdown @user.bio %>
  </div>
  <% if @user.avatar.attached? %>
    <div class="span3">
      <% # not a fetch_avatar call.%>
      <%= image_tag @user.avatar.variant(square_thumb_variant), class: "thumbnail zoomable" %>
    </div>
  <% end%>
</div>

<hr />

<h2>Projects</h2>

<div class="row">
  <div class="carousel slide span12" id="show-carousel">
    <div class="carousel-inner">
      <% @team_memberships.each_with_index do |item, i| %>
        <% if i.modulo(4) == 0 %>
          <div class="item <%= 'active' if i == 0 %>">
            <ul class="thumbnails">
        <% end %>
              <li class="span3">
                <div class="thumbnail">
                  <% img = image_tag item.teamwork.fetch_image.variant(medium_variant) %>
                  <% url = @link_to_admin_events ? [:admin, item.teamwork] : item.teamwork %>

                  <%= link_to img, url %>
                  <%= link_to truncate(item.teamwork.name, length: 30), url %><br />
                  <%= item.teamwork.date_range true %><br />
                  <%= item.position %>
                </div>
              </li>
        <% if i.modulo(4) == 3 || i == (@team_memberships.size - 1) %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @team_memberships.size > 4 %>
      <a data-slide="prev" href="#show-carousel" class="left carousel-control">‹</a>
      <a data-slide="next" href="#show-carousel" class="right carousel-control">›</a>
    <% end %>
  </div>
</div>