// Place all the styles related to the admin/editable_blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.md-editor {
    margin-bottom: 20px;
    border:        1px solid #DDD;
    margin-left:  -1px;
    margin-right: -1px;
}

.md-editor .span3 {
    margin:   10px;
    position: relative;
}

.md-editor .nav {
    margin-bottom: 10px;
}

.md-editor .nav-pills > li {
    float: right;
}

.md-editor .control-group {
    margin-bottom: 0px;
}

.md-editor .tab-pane {
    margin: 10px;
    margin-bottom: 0px;
}

.md-editor .help-block {
    font-size:   x-small;
    margin-bottom: 0px;
}

.md-editor .span3 .btn {
    padding-left:  0px;
    padding-right: 0px;
    width: 100%;

    /* the neat box model activated below causes padding to be included in the box */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.tab-container .tab-content .tab-pane textarea {
                 width: 100%;
                 /* the neat box model activated below causes padding to be included in the box */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.md-editor .well {
  padding: 5px;
}

.md-editor .well pre {
  padding: 5px;
  margin-bottom: 0px;
}