<div class="row">
  <div class="span8">
    <div id="showSlider" class="carousel slide" <%= "data-interval=false" if mobile_device? %>>

      <div class="carousel-inner <%= "carousel-inner-mobile" if mobile_device? %>">
        <% @events.each do |event| %>
          <% event_path = url_for(event) %>
          <div class="<%= "active" if event == @events.first %> item">
            <% if mobile_device? %>
              <div style="margin: 0 70px;" class="mobile-carousel">
                <%= link_to "<h4>#{event.name}</h4>".html_safe, event_path %>
                <p><%= event.tagline %> - <b><span class="show-date"><%= event.date_range true %></span></b></p>
              </div>
            <% else %>
              <%= link_to (image_tag event.fetch_image.variant(slideshow_variant)).html_safe,  event_path %>
              <div class="carousel-caption">
                <%
                  caption_text = "<h4>#{event.name}</h4>"
                  caption_text += " by #{event.author}" if event.author?
                %>
                <%= link_to caption_text.html_safe,  event_path %>
                <p>
                  <%= "#{event.tagline} - " if event.tagline? %>
                  <b><span class="show-date"><%= event.date_range true %></span></b>
                  <%= " - #{event.price}" if event.price? %>
                </p>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if @events.empty? && !(mobile_device?) then %>
          <%# between 1st June and 1st September, advertise Bedlam Fringe %>
          <% year = Date.today.year %>
          <% if (Date.new(year, 6, 01)..Date.new(year, 9, 01)).include? Date.today then %>
            <a href="http://www.bedlamfringe.co.uk">
              <img src="/images/fringe.png" />
            </a>
          <% else %>
            <img src="/images/no-shows.png" />
          <% end %>
        <% end %>

      </div>

      <!-- Carousel nav -->
      <% if @events.count > 1 then %>
          <a class="carousel-control left" href="#showSlider" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#showSlider" data-slide="next">&rsaquo;</a>
      <% end %>
    </div>

    <div class="row">
      <% if block_exists("Home") %>
        <div class="span8">
          <%= display_block("Home", false) %>
        </div>
      <% else %>
        <div class="span8"></div>
      <% end %>
    </div>

    <div class="row content">
      <% @news.each do |news| %>
      <div class="span4">
        <div>
          <%= link_to (image_tag news.fetch_image.variant(medium_variant)), news_path(news) unless mobile_device? %>
          <h4><%= link_to news.title, news_path(news) %></h4>
          <%= truncate_markdown(news.body, 140) %>
          <%= link_to 'Read More', news_path(news) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- SIDEBAR -->
  <hr class="visible-phone" />

  <div class="span4">
    <h3><%= link_to '@BedlamTheatre', 'https://twitter.com/bedlamtheatre' %></h3>
    <div>
      <% twitter_timeline.each do |tweet| %>
        <p>
          <small>
            <%= auto_link_tweet(tweet) %>
            <span class="tweet-date">
              <%= l tweet.created_at, format: :short if tweet.created_at %>
            </span>
          </small>
        </p>
      <% end %>
    </div>

    <hr />

    <h3><%= link_to "Archives", archives_index_path %></h3>
    <% if @last_event %>
      <%= link_to @last_event.name, @last_event %>
      <% image = image_tag @last_event.fetch_image.variant(medium_variant) %>
      <%= link_to image, @last_event, class: "thumbnail" unless mobile_device? %>
    <% end %>
  </div>
</div>
