<%= simple_form_for [:admin, @role] do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :name %>
    </div>
    
    <%= render '/shared/form/form_actions', f: f %>
<% end %>