<h1><%= @title %></h1>


<%= render 'admin/shared_debt/search_form', is_specific_user: @is_specific_user, url: :admin_maintenance_debts %>

<% if @maintenance_debts.empty? %>
  <p>No Maintenance Debts found.</p>
<% else %>
  <table class="table">
    <tbody>
    <tr>
      <%= content_tag :th, sort_link(@q, :user_full_name, 'User Name') %>
      <%= content_tag :th, sort_link(@q, :show_name, 'Show Name') %>
      <%= content_tag :th, sort_link(@q, :due_by, 'Due By') %>

      <% if can? :edit, Admin::MaintenanceDebt %>
        <th></th>
        <th></th>
      <% end %>

      <% if can? :delete, Admin::MaintenanceDebt %>
        <th></th>
      <% end%>
    </tr>
    <% @maintenance_debts.each do |maintenance_debt| %>
        <tr class="<%= maintenance_debt.css_class %>">
          <td><%= user_link(maintenance_debt.user, false) %></td>
          <td><%= maintenance_debt.show.name %></td>
          <td><%= get_link maintenance_debt, :show, link_text: maintenance_debt.due_by %></td>

          <% if can? :edit, maintenance_debt %>
            <td>
              <%= get_link maintenance_debt, :edit, link_text: 'Change Deadline', condition: maintenance_debt.unfulfilled? %>
            </td>

            <td>
              <% if maintenance_debt.unfulfilled? %>
                  <%= get_link maintenance_debt, :convert_to_staffing_debt, link_text: 'Convert To Staffing', html_class: 'btn', http_method: :put, 
                                                  confirm: "Converting the Maintenance Debt to Staffing Debt", 
                                                  detail: "Are you sure you want to convert #{maintenance_debt.user.name current_user}'s debt into a staffing debt?" 
                  %>
              <% end %>
            </td>
          <% end %>

          <% if can? :delete, maintenance_debt %>
            <td>
              <%= render 'complete_button', maintenance_debt: maintenance_debt %>
            </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <% unless @is_specific_user %>
    <%= will_paginate(@maintenance_debts) %>
  <% end %>
<% end %>

<%= get_link Admin::MaintenanceDebt, :new %>