
/* The show-info-box styles. Remember that the parent row must have position:relative applied to it. */
.show-info-box {
  position: absolute;
  right: 0px;
  bottom: 60px;
  top: 0px;
}

.show-info-box .well {
  height: 100%;
}


.cast-crew-list dt {
  display:   inline-block;
  min-width: 140px;
  float: left;
  clear: right;
}

.cast-crew-list dd {
  display: inline-block;
  min-width: 150px;
  float: right;
}

/* Responsive */
@media (max-width: 767px) {
  .cast-crew-list dt, .cast-crew-list dd {
    display: block;

    min-width: inherit;

    float:     inherit;
    clear:     inherit;
  }
}

@media (max-width: 767px) {
  .show-info-box {
    position: relative;
  }
}