<p>Hi <%= @user.name_or_email %>,</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
If you didn't request this, please ignore this email.<br />
Your password won't change until you access the link above and create a new one.
</p>

<p>Kind Regards,</p>

<p>The Bedlam Theatre Committee and The Project Black Lightning Team</p>
