<h1><%= @title%></h1>

<%= render 'event_display' %>

<%= render '/shared/questions_and_answers', answers: @questionnaire.answers %>

<% # You cannot use the shared/show_actions here because they're all quite different %>

<%= get_link @questionnaire, :answer, http_method: :get, html_class: 'btn btn-primary' %>

<%= get_link @questionnaire, :edit %>

<%= get_link @questionnaire, :destroy %>

<%= get_link Admin::Questionnaires::Questionnaire, :index, link_text: 'View All Questionnaires', anchor: "#{@questionnaire.event.name.to_url}-table" %>

