<h1><%= @title = "Comment on Complaint '#{@complaint.subject}'" %></h1>

<%= simple_form_for([:admin, @complaint]) do |f| %>
  <%= f.error_notification %>

  <% fields = { 
    created_at: l(@complaint.created_at, format: :longy),
    description: render_markdown(@complaint.description)
  } %>

  <%= render 'shared/basic_fields', fields: fields %>

  <div class="form-inputs">
    <%= f.input :resolved %>
    <%= render "/shared/form/md_editor", f: f, field: :comments, show_hint: true %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
